<div class="toolbar" role="banner">
  <svg id="github-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 420 420" fill="#fff">
    <path
      d="M392.996,28.338H20c-11.047,0-20,8.954-20,20v234c0,11.046,8.953,20,20,20h139.498v45.32h-54.283     c-10.201,0-18.5,8.299-18.5,18.5s8.299,18.5,18.5,18.5h202.566c10.201,0,18.5-8.299,18.5-18.5s-8.299-18.5-18.5-18.5h-54.283     v-45.32h139.498c11.047,0,20-8.954,20-20v-234C412.996,37.292,404.043,28.338,392.996,28.338z M382.996,272.338H30v-214h352.996     V272.338z" />
    <path
      d="M94.591,176.637l63.084,29.336c1.631,0.755,3.367,1.138,5.162,1.138c2.338,0,4.616-0.664,6.597-1.924     c3.548-2.267,5.666-6.13,5.666-10.335v-0.322c0-4.751-2.785-9.115-7.096-11.119l-39.455-18.33l39.456-18.334     c4.31-2.004,7.095-6.369,7.095-11.118v-0.319c0-4.211-2.119-8.074-5.665-10.334c-1.962-1.254-4.247-1.916-6.606-1.916     c-1.778,0-3.563,0.391-5.16,1.133L94.59,153.525c-4.308,2.005-7.091,6.369-7.091,11.117v0.878     C87.498,170.262,90.28,174.625,94.591,176.637z" />
    <path
      d="M175.662,236.389c2.301,3.149,6.002,5.029,9.901,5.029h0.315c5.352,0,10.042-3.426,11.672-8.516l41.557-128.76     c1.192-3.717,0.53-7.818-1.771-10.974c-2.301-3.149-6.002-5.03-9.901-5.03h-0.314c-5.354,0-10.048,3.426-11.679,8.516     L173.88,225.425C172.698,229.145,173.364,233.242,175.662,236.389z" />
    <path
      d="M237.896,135.628c0,4.746,2.782,9.11,7.095,11.122l39.455,18.33l-39.455,18.33c-4.311,2.004-7.096,6.368-7.096,11.119     v0.322c0,4.205,2.117,8.068,5.669,10.336c1.974,1.258,4.254,1.923,6.595,1.923c1.792,0,3.527-0.383,5.169-1.142l63.081-29.335     c4.307-2.009,7.089-6.372,7.089-11.115v-0.878c0-4.748-2.783-9.112-7.093-11.117l-63.08-29.334     c-1.591-0.739-3.373-1.131-5.152-1.131c-2.358,0-4.644,0.662-6.604,1.912c-3.554,2.264-5.673,6.127-5.673,10.338V135.628     L237.896,135.628z" />
  </svg>
  <span>Developer Profile</span>
  <div class="spacer"></div>
  <a aria-label="Jordan Milbrath on GitHub" target="_blank" rel="noopener" href="https://github.com/jordan-milbrath"
    title="GitHub">
    <svg id="github-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="#fff">
      <rect width="400" height="400" fill="none" />
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z"
        fill="#fff" />
    </svg>
  </a>
  <a aria-label="Jordan Milbrath on LinkedIn" target="_blank" rel="noopener"
    href="https://www.linkedin.com/in/jordan-milbrath" title="LinkedIn">
    <svg id="github-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 -20 100 100" fill="#fff">
      <rect width="400" height="400" fill="none" />
      <path
        d="M8,72 L64,72 C68.418278,72 72,68.418278 72,64 L72,8 C72,3.581722 68.418278,-8.11624501e-16 64,0 L8,0 C3.581722,8.11624501e-16 -5.41083001e-16,3.581722 0,8 L0,64 C5.41083001e-16,68.418278 3.581722,72 8,72 Z"
        fill="#fff" />
      <path
        d="M62,62 L51.315625,62 L51.315625,43.8021149 C51.315625,38.8127542 49.4197917,36.0245323 45.4707031,36.0245323 C41.1746094,36.0245323 38.9300781,38.9261103 38.9300781,43.8021149 L38.9300781,62 L28.6333333,62 L28.6333333,27.3333333 L38.9300781,27.3333333 L38.9300781,32.0029283 C38.9300781,32.0029283 42.0260417,26.2742151 49.3825521,26.2742151 C56.7356771,26.2742151 62,30.7644705 62,40.051212 L62,62 Z M16.349349,22.7940133 C12.8420573,22.7940133 10,19.9296567 10,16.3970067 C10,12.8643566 12.8420573,10 16.349349,10 C19.8566406,10 22.6970052,12.8643566 22.6970052,16.3970067 C22.6970052,19.9296567 19.8566406,22.7940133 16.349349,22.7940133 Z M11.0325521,62 L21.769401,62 L21.769401,27.3333333 L11.0325521,27.3333333 L11.0325521,62 Z"
        fill="#7b57c3" />
    </svg>
  </a>
</div>

<div class="container" role="main">
  <div class="container text-center py-4">
    <h1 style="color: white;">{{ fullName }}</h1>
  </div>
  <div class="container">
    <div class="row text-center d-flex justify-content-around">
      <div class="col-md-6 my-2">
        <div class="card">
          <div class="card-body">
            <h2>Education | NDSU</h2>
          </div>
        </div>
        <div class="accordion">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panel-master-of-science-in-computer-science" aria-expanded="false"
                aria-controls="panel-master-of-science-in-computer-science">
                Master of Science in Computer Science
              </button>
            </h2>
            <div id="panel-master-of-science-in-computer-science" class="accordion-collapse collapse">
              <div class="accordion-body">
                I decided to pursue a Master's degree in computer science because <strong>I wanted
                  to have a deeper understanding of how software and computers worked - enough of an understanding to
                  make learning new concepts easier in the future.</strong>
                I believe that during my time as a Master's student, I have gained a lot more useful experience
                than I did during my time when I was solely an undergraduate.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panel-honors-minor" aria-expanded="true" aria-controls="panel-honors-minor">
                Honors Minor
              </button>
            </h2>
            <div id="panel-honors-minor" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body">
                <p><i>“The Honors Program at North Dakota State University provides a signature experience for motivated
                    students with exceptional academic potential. The program combines interdisciplinary coursework, an
                    honors capstone project, experiential learning and leadership development.”</i> -NDSU's Honors
                  Program site</p>
                <br>
                <p>The Honors program pushed students to take control of their learning. My favorite component of this
                  was the Honors Capstone Project, which allowed me to select a project I thought would be interesting
                  and pursue that for two full semesters. This project is described more in the "Personal Projects"
                  section.</p>

              </div>
            </div>
          </div>
          <div class="accordion-item no-dropdown-accordion-item">
            <h2 class="accordion-header">
              <div class="accordion-button collapsed" type="button">
                Bachelor of Science in Computer Science
              </div>
            </h2>

          </div>
        </div>
      </div>
      <div class="col-md-6 my-2">
        <div class="card">
          <div class="card-body">
            <h2>Experience | Network Center, Inc.</h2>
          </div>
        </div>
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panel-imaging-department" aria-expanded="true"
                aria-controls="panel-imaging-department">
                Imaging Department
              </button>
            </h2>
            <div id="panel-imaging-department" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body">
                <p>
                  My primary job at Network Center was in the Imaging Department. I worked closely with Windows
                  computers
                  of all types of models to ensure that all the desired apps were installed on the computers and that
                  the
                  computer was configured correctly for the end user. I wrote several <strong>PowerShell
                    scripts</strong>
                  that assisted both me and others in the imaging department with a large portion of our repetitive
                  tasks.
                </p>
                <br>
                <p>
                  I also completed a variety of other tasks surrounding imaging, which included custom communications
                  through weekly meetings, shipping out packages (domestic and international), and working directly with
                  end users to make sure that their computers are set up properly and that they know their next step in their
                  new computer process.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                Dev Team
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body">
                I worked on the dev team for a portion of my internship. I worked largely with Drupal (the CMS) and
                did general website design with HTML, CSS, and JavaScript. I collaborated with others using GitLab and
                did work
                for several different clients and projects.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                IT Work
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
                In addition to my other responsibilities, I frequently assisted others with various IT
                troubleshooting and miscellaneous work. This included issues with Windows installations,
                app installations, hardware, and a wide range of other topics. I found the experience with
                troubleshooting to be very helpful in other computer-related projects as well because I
                found that even if the problem seemed surface-level, it was always good to drill down one more
                layer to see if there were any underlying problems that could be making that problem persistent.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 my-2">
        <div class="card">
          <div class="card-body">
            <h2>Personal Projects</h2>
          </div>
        </div>
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panel-modular-server-framework" aria-expanded="true"
                aria-controls="panel-modular-server-framework">
                Modular Server Framework
              </button>
            </h2>
            <div id="panel-modular-server-framework" class="accordion-collapse collapse show"
              aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body">
                <p>
                  The modular server framework allows different Python modules to be written that define how to process the data from the client
                  in different layers: the socket, encryption, and application layers. While this is a simple model, it greatly
                  decreases the amount of code that needs to be rewritten for different scenarios. I found that when I wanted to
                  write custom server software, I would often need to rewrite a large portion of the code. With this framework,
                  I can use the same socket and encryption modules between multiple projects and only change the applicaion modules
                  to fit the specific need of the application I'm working on.
                </p>
                <br>
                <p>
                  I used this framework to create an imaging automation tool using the Python server and a C# client to run custom-made PowerShell scripts on
                  client machines. In an imaging scenario, this could include app installations, device configurations,
                  and virtually any other function that can be completed through a PowerShell script.
                </p>
                <br>
                <p>
                  The process starts by the client reporting to the server with a password to verify that it's a valid
                  client. The two then exchange public keys and begin data transmission. The server sends PowerShell
                  scripts
                  and runtime configuration settings and arguments to the client, which are then parsed and executed.
                  The client and server both use hybrid encryption (RSA with AES) to secure the traffic between them,
                  ensuring
                  that no third-parties, even with full access to the conversations, could decrypt the messages.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-aspect-section></app-aspect-section>
  </div>
</div>